#footerChecks{
	float:left;
	width:25%;
	text-align:left;
	visibility:visible;
}

#footerCopyright{
	float:left;
	width:50%;
	text-align: center;
}

#footerToTop{
	float:left;
	width:25%;
	text-align:right;
	visibility:visible;
}

#feedbackSubmit{
    margin: 0 auto;
}

.navbar, .nav{
	visibility:hidden;
}

.preload{
	display:none !important;
}

.content-section {
    padding:100px;
    height:100vh;
    width:100%;
}

.work-section {
    width: 100%;
    padding: none;
}

footer {
	display: none;
    position: fixed;
    padding: 10px 0;
    height: 50px;
    left: 0px;
    right: 0px;
    bottom: -50px;
    width: 100%;
    background: #000;
}

#contactSection{
    display: table;
    width: 100%;
    height: 100vh;
    padding-top: 150px;
    text-align: center;
    color: #fff;
    background: url(../img/background_contact.png) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media(max-width:767px) {
    #footerChecks{
		visibility:hidden;
	}

	#footerToTop{
		visibility:hidden;
	}
	#footerCopyright{
		width:100%;
	}
}

#workPortfolio{
	display:none;
	padding-top: 50px;
	height:100vh;
	width:100%;
}

.popup {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-height: 25%;
    padding: 25px;
    max-width:50%;
}
.popup .logo {
    color: #2b91af;
}

.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}